{% extends "base.html" %}
{% block title %}Bordesholmer Seelauf{% endblock %}
{% block content %}
<div class="container hero-card text-center py-5">
    <!-- bild anzeigen wenn man absolut eintippt
    <img src="{{ url_for('static', filename='images/absolute.png') }}" alt="Seelauf Logo" class="img-fluid mb-4" style="max-width: 600px;">
-->
    <h1 class="display-4">Bordesholmer Seelauf</h1>
    <p class="lead">Willkommen zur Seelauf-App der Hans‑Brüggemann‑Schule.</p>
    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a href="{{ url_for('admin.dashboard') }}" class="btn btn-admin btn-lg">Admin Panel</a>
        <a href="{{ url_for('main.user_interface') }}" class="btn btn-user btn-lg">Zeitnehmer‑Interface</a>
        <a href="{{ url_for('main.user_zeit') }}" class="btn btn-user_zeit btn-lg">Siehe deine Eigenzeit</a>
</div>
{% endblock %}